@media screen and (min-width: 1050px) {
    .content {
        font-size: 18px;
        color: antiquewhite;
        text-align: center;
    }
}

@media screen and (min-height: 1200px) {
    .content {
        width: auto;
        text-align: center;
        font-size: 28px;
        color: antiquewhite;
    }
}